<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background: linear-gradient(to bottom, white, #FFCC66);
        }
    </style>
</head>
<body>
<div>
    <img src="https://img1.baidu.com/it/u=1046604987,161432534&fm=253&fmt=auto&app=138&f=JPEG?w=655&h=450" width=100% height=100 alt="Icon">
</div>
<p style="text-align: center;font-size: 24px">———— 活动详情 ————</p>
<div style="margin-left: 29%;font-size:20px;margin-top: 50px">
    <div>活动名称: {{ activity.Actname }}</div>
    <div>活动地点: {{ activity.address }}</div>
    <div>活动时间: {{ activity.Time }}</div>
    <div>已有人数/需要人数: {{ activity.already }}/{{ activity.need }}</div>
    <div>报名截止时间: {{ activity.end }}</div>
    <div>活动详情: {{ activity.content }}</div>
    <div>联系方式: {{ activity.phone }}</div>
</div>
<div style="margin-top:50px">
    <img src="https://img.88icon.com/upload/jpg/20210524/826bd138b58c37269d3e64a684b14c5c_50620_496_463.jpg!bg" height=100px  alt="Icon" style="margin-top:80px;margin-left: 45%;border-radius: 25px">
</div>
<div style="text-align:center;margin-bottom:60px">
    <p>帐号冻结和举报 | 搭搭乐客服 | 反馈问题</p>
    <p>Copyright © 2023 dadale. All Rights Reserved.</p>
    <p>——————搭搭乐 版权所有——————</p>
</div>
</body>
<script>
</script>
</html>